<h4>Technique to map key/value pairs (dict) to pandas dataframe column</h4>

In [2]:
import numpy as np
import pandas as pd

In [7]:
df = pd.DataFrame(np.array([[1, 2, 'D5'], [4, 5, 'D6'], [5, 10,'D7']]),
                   columns=['col_a', 'col_b', 'Day_Currency'])

In [8]:
df

  col_a col_b Day_Currency
0     1     2           D5
1     4     5           D6
2     5    10           D7

In [9]:
key_values = {'D5':5,'D6':8,'D7':10}

In [10]:
key_values

{'D5': 5, 'D6': 8, 'D7': 10}

In [11]:
df['Mapped'] = df['Day_Currency'].map(key_values)

In [12]:
df

  col_a col_b Day_Currency  Mapped
0     1     2           D5       5
1     4     5           D6       8
2     5    10           D7      10